* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1110px ;
    width: 100%;
    margin: 0 auto;
}

.section1 .container {
    max-width: 1800px;
}

header .container {
    max-width: 1800px;
}
.logo {
    padding-left: 100px;
    padding-right:100px;   
    /* padding rigth 248px doljno byt' */
    margin: 0;
}

.header {
    padding-bottom: 60px;
    padding-top: 60px;
}

.burger {
    border: none;
    margin-right: 305px;
}

.links a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;  
}

.a {
    color: #000000;
}

.links a:not(:last-child) {
    margin-right: 30px;
}

.links a:last-child {
    padding-right: 170px;
}

.main-link {
    font-style: normal;
    font-weight: 400;
    border: 1px solid rgba(209, 169, 84, 0.9);
    padding: 6px 9px;
    margin-right: -9px;
    color: #D1A954;
}

.a:hover {
    font-style: normal;
    font-weight: 700;
    color: #D1A954;
}

.section1 .box {
    padding: 5px;
}

.sec1-card {
    position: relative;
    overflow: hidden;
}


.box:hover .card-overlay {
    transition: 1.2s;
    bottom: 0;
}

.span {
    display: block;
}

.card-overlay {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(209, 169, 84, 0.9);
    position: absolute;
    padding: 15px 20px;
    margin-top: 460px;
    bottom: -200px;
}

.card-overlay p {
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;

    text-transform: none;
    
}

.card-desc {
    padding: 21px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.svipe {
    text-align: center;
    margin-top: 63px;
    margin-bottom: 124px;
}

.sec-2-title {
    text-align: center;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
}

.sec-2-title h2 {
    font-weight: 300;
    font-size: 36px;
    
}

.sec-2-title p {
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    padding-top: 10px;

}

.section2 img {
    display: block;
    margin: 0 auto;
    margin-bottom: -270px;
}

.section3 {
    background-color: #E5E5E5;
    padding-top: 329px;
    padding-bottom: 90px;
}


.section3 .container {
    max-width: 900px;
}

.section3 p {
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #616161;
}

.p {
    width: 320px;
}

.sec-3-desc {
    padding-top: 33px;
}

.cols {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.cols .h6  h6{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 20px;
    color: #000000;
    padding-top: 7px;
}

.sec-3-col-4 {
    margin: 0 auto;
}

.plosadka {
    padding: 10px;
}

.desc-p {
    width: 250px;
}

.desc-rest {
    padding-top: 15px;
}

.parent img {
    width: 100%;
    object-fit: contain;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* padding: 120px 340px 340px 340px; */
    }
    
.box1 { grid-area: 1 / 1 / 4 / 4; }
.box2 { grid-area: 1 / 4 / 4 / 9; }
.box3 { grid-area: 1 / 9 / 4 / 13; }
.box4 { grid-area: 4 / 1 / 10 / 8; }
.box5 { grid-area: 4 / 8 / 7 / 13; }
.box6 { grid-area: 7 / 8 / 10 / 13; }



.section4 {
    padding-top: 120px;
    padding-bottom: 150px;
}
        
.section4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 135%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.section4 p {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.03em;
    padding-top: 10px;
}

.section4 h4 {
    padding-top: 130px;
}

.download {
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.download h2 {
    padding-bottom: 60px;
}

.buttons button {
    padding: 23px 58px 20px 57px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    /* padding-top: 60px; */
    color: #000000;
    background-color: #FFFFFF;

}

.buttons button:not(:last-child) {
    margin-right: 90px;
}

.section5 {
    background-image: url(../assets/Rectangle\ 2\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


.section6 h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}

.section6 p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    margin-bottom: 0;
    color: #616161;
}

.items {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.items p {
    padding-left: 29px;
}

.item h6 {
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.section6 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.form input {
    border: none;
    border-bottom:  0.5px solid #D0D0D0;
    width: 100%;
    padding-bottom: 17px;
    padding-top: 17px;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: #616161;
}

.form input:last-child {
    margin-top: 25px;
}

.form input:hover {
    border: none;
    border-bottom:  0.5px solid #D0D0D0;
}

.form textarea{
    width: 100%;
    border: 0.5px solid #D0D0D0;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    margin-top: 35px;
    padding-top: 15px;
    padding-left: 20px;
    color: #616161;
}

.form button {
    background-color: #D1A954;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 35px;
    color: #FFFFFF;
    padding: 12px 35px;
}

.section7 h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
}

.section7 {
    text-align: center;
    background-color: #F9F7F7;
    padding-top: 120px;
    padding-bottom: 90px;
}

.section7 p {
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 10px;
    margin-bottom: 0;
}

.section8 .container {
    max-width: 1920px;
}

/* .images img {
    margin-left: -0px;
} */

.images {
    display: flex;
    flex-wrap: nowrap;
}

.foot {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 37px;
}