* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1800px ;
    width: 100%;
    margin: 0 auto;
}

.logo {
    padding-left: 100px;
    padding-right:100px;   
    /* padding rigth 248px doljno byt' */
    margin: 0;
}

.header {
    padding-bottom: 60px;
    padding-top: 60px;
}

.burger {
    border: none;
    margin-right: 305px;
}



.links a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;  
}

.a {
    color: #000000;
}


.links a:not(:last-child) {
    margin-right: 30px;
}

.links a:last-child {
    padding-right: 170px;
}

.main-link {
    
    font-style: normal;
    font-weight: 400;
    /* identical to box height */
    border: 1px solid rgba(209, 169, 84, 0.9);
    padding: 6px 9px;
    margin-right: -9px;
    color: #D1A954;
}

.link {
    font-style: normal;
    font-weight: 700;
    color: #D1A954;
}

.section1 .box {
    padding: 5px;
}

.card {
    /* background-image: url(../assets/Rectangle\ 2.png);
    background-size: 100% ;
    background-repeat: no-repeat; */

    position: relative;
    overflow: hidden;

}

.card-img-overlay {
    position: absolute;
}

.span {
    display: block;
}

.desc {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(209, 169, 84, 0.9);
    padding: 15px 20px;
    margin-top: 460px;
}

.desc p {
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;

    text-transform: none;
    
}

.card-img-overlay {
    padding: 0;
    border-radius: 0;
}

.card {
    border-color: unset;
    border-radius: unset;
}

.card-desc {
    padding: 21px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.svipe {
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 63px;
    margin-bottom: 124px;
}


.sec-2-title {
    text-align: center;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
}

.sec-2-title h2 {
    font-weight: 300;
    font-size: 36px;
    
}

.sec-2-title p {
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    padding-top: 10px;

}

.section2 img {
    display: block;
    margin: 0 auto;
    margin-bottom: -270px;
}

.section3 {
    background-color: #E5E5E5;
    padding-top: 329px;
    padding-bottom: 90px;
}

/* .sec-3-col img {
    width: 100%;
    padding-bottom: 30px;
} */

.section3 p {
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    /* gray */

    color: #616161;
}

.p {
    width: 320px;
}

.sec-3-desc {
    padding-top: 33px;
}

.cols {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.cols .h6  h6{
    font-weight: 300;
    font-size: 16px;
    /* line-height: 135%; */
    /* or 22px */
    margin-bottom: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 20px;
    color: #000000;
    padding-top: 7px;
}

.sec-3-col-4 {
    margin: 0 auto;
}

.plosadka {
    padding: 10px;
}

.desc-p {
    width: 250px;
}

.desc-rest {
    padding-top: 15px;
}